@import "_theme.scss";


.lrg-entry {
  display: block;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    font-weight: 200;
    text-transform: capitalize;
    color: $app-purple;
    text-align: center;
    margin: 15px;
  }

  p {
    white-space:pre-wrap;
    text-align: justify;
    font-weight: 200;
    font-size: 1.25em;
    margin: 15px;
  }
}

.home-btn {
  margin-right: 15px;
  margin-left: 15px;
  width: 30%;
  padding: 5px;
  color: $app-purple-light;

  &:hover {

    color: $app-green;
    outline: 2px solid $app-green;
    border: none;

    i {
      color: $app-green;
    }
  }
}
